@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                minDate: 0,
                maxDate: "+1m"
            });
        });
    </script>
    <title>Order</title>
</head>
<body>
    <div>
        <h3>Order a room @ViewBag.RoomNumber</h3>
        <h4>Actual room schedule</h4>
        <table>
            <tr>
                <td><p>Starting</p></td>
                <td><p>Ending</p></td>
            </tr>
            @foreach (var item in ViewBag.RoomSchedule)
            {
                <tr>
                    <td><p>@item.StartOfSession</p></td>
                    <td><p>@item.EndOfSession</p></td>
                </tr>
            }
        </table>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.RoomId" name="RoomId" />
            <input type="hidden" value="@ViewBag.UserId" name="UserId">
            <table>
                <tr>
                    <td><p>Date</p></td>
                    <td><input type="text" id="datepicker" name="Date"></td>
                </tr>
                <tr>
                    <td><p>Start(working hours: 9:00 AM - 19:00 PM)</p></td>
                    <td><input type="time" name="StartOfSession" required /> </td>
                </tr>
                <tr>
                    <td><p>Duration(min)</p></td>
                    <td><input type="number" name="Duration" required min="30" step="30" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>